/* Global styles */
body {
    background: white;
    font-family: 'Nanum Myeongjo', serif;
    margin: 0;
}

a {
    color: lightcyan;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h2 {
    font-family: 'Charm', cursive;
}

.content-wrap {
    max-width: 950px;
    margin-left: 100px;
}

/* Header and footer */
header, footer {
    background: #0A2342;
    color: lightsteelblue;
    text-align: center;
    margin: 0 auto;
    padding: 50 px;
}

header h1, header h2 {
    color: lightskyblue;
    margin: 0;
}

header h1 {
    font-family: 'Cinzel', serif;
    font-size: 40px;
}

/* Home */
.home {
    background-image: url(../images/met.jpg);
    background-size: cover;
    /* background-position: top; */
    background-size: 100% 165%;
    color: lightcyan;
    font-size: 40px;
    text-align: center;
}

.home h1 {
    margin-top: 275px;
}

.home a {
    border: 2px solid lightcyan;
    margin: 20px;
    padding: 10px;
}

/* About */
.about img {
    float: left;
    margin-right: 20px;
}

.about h2 {
    clear: both;
}

.profile-img {
    width: 300px;
    border-radius: 50%;
}